.bg-image {
    background-image: url('/img/i.webp');
    height: 100vh;
}

.form-control {
    width: 30%;
}
.imgLogo {
    width: 50px;
    height: 50px;
}
.panel {
    display: flex;
    align-items: center;
    height: 60px;
    background-image: linear-gradient(90deg, #4b691b 20%, #7eacd5 45%, #7eacd5 45%);
}
.text {
  display: flex;
  justify-content: center;
}
.input {
    width: 90%;
}
.card {
    width: 300px;
    height: 200px;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
}